html {
    height: 100vh;
}

body{
    background-color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3em;
    margin: 0 0 40px 0;
    display: flex;
    margin-bottom: auto;
    margin-top: 20px;
}

#board{
    position: absolute;
    background-color: aquamarine;
    overflow: hidden;
    width: 80vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../src/img/pixil-frame-0 (1)_scaled_2x_pngcrushed (1) - Copy.png");
    background-size: contain;
    animation: moveBackground 0.3s linear infinite;
}

#title {
    text-align: center;
}

#score {
    position: absolute;
    margin-bottom: 50vh;
    width: auto;
    height: 10vh;
    z-index: 10;
    display: flex;
}

.scoreNumber {
    display: flex;
    height: 100%;
}

#shields {
    position: absolute;
    margin-bottom: 70vh;
    margin-left: 91vh;
    width: auto;
    height: 10vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.shieldNumber {
    display: flex;
    height: 100%;
    margin-bottom: 1vh;
}

#hedgie{
    /* background-color: aqua; */
    position: absolute;
    background-image: url("../src/img/peter.png");
    background-size: contain;
}

#gameover{
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10%;
    margin-bottom: 50vh;
    z-index: 11;
    text-align: center;
}

.car-div{
    /* background-color: aqua; */
    position: absolute;  
}

.car-image {
    width: 100%;
    height: 100%;
}

@keyframes moveBackground {
    0% {background-position: 0 0}
    100% {background-position: 0 100%}
}